*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: grey;
}
#login{
    background-color: white;
    width: 400px;
    height: 400px;
    position: absolute;
    top: -400px;
    left: 40%;
    border-radius: 40px;
    padding: 40px;
}
#login h1{
    color: teal;
}
#login input{
    height: 30px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    color: gray;
    outline-color: none;
    background-attachment: #eeee;
}
#login button{
    width: 150px;
    height: 30px;
    padding: 5px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 10px;
    display: block;
    margin-top: 20px;
}